@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bodycol:#2E2828;
    --primarycol: #503A3A;
    --accentcol: #F65151;
    --textcol: #FEF4F4;
    --cardcol: rgb(68, 66, 66);
    --transcol:rgba(206, 206, 206, 0.219);
    --headerfont: 'Josefin Sans', sans-serif;
    --border:1px solid rgba(255, 255, 255, 0.137);
    --parafont: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--bodycol); */
    background-image: url(/images/body-dark-long.jpg);
}
a{
    text-decoration: none;
    color: var(--textcol);
}
/* h1,h2,h3,h4,h5,h6{
    font-family: var(--headerfont);
}
p,a{
    font-family: var(--parafont);
} */
.flex{
    display: flex;
    justify-content: space-between;
}

/* NAVBAR */
nav{
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px 15px 0px 15px;
    justify-content: space-between;
    height: 90px;
    z-index: 10;
    /* background-color: var(--bodycol); */
    /* opacity: 0.95; */
    backdrop-filter: blur(25px);
}
nav .logo{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 20%;
    cursor: pointer;
}
nav .logo img{
    filter: invert(1);
    height: 70px;
    width: 70px;
}
nav .logo h1{
    color: white;
    font-family: monospace;
    font-size: 2.9rem;
    letter-spacing: 7px;
}
.nav-items{
    width: 75%;
}
.nav-items ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.25rem;
    font-family: Poppins;
}
.nav-items ul li{
    padding: 10px 25px;
    border: var(--border);
    border-radius: 25px;
    background-color: var(--transcol);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s ease-out;
}
.nav-items ul li:hover{
    color: var(--textcol);
    background-color: var(--accentcol);
}
.search{
    display: flex;
    border: var(--border);
    background-color: var(--transcol);
    padding: 15px 17px;
    border-radius: 50%;
    cursor: pointer;
    transition: .1s ease-out;
}
.search:hover {
    background-color: var(--accentcol);
}
.profile{
    display: flex;
    align-items: center;
    padding: 0 7px;
    border: var(--border);
    background-color: var(--transcol);
    width: 10%;
    height: 55px;
    border-radius: 20px;
    cursor: pointer;
    transition: .1s ease-out;

}
.profile:hover{
    background-color: var(--accentcol);
}
.profile .user-img{
    height: 40px;
    width: 40px;
    background-image: url(/images/profile.jpg);
    border-radius: 50%;
}
.profile .user-txt{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: var(--headerfont);
    padding-left: 7px ;
    padding-right: 25px;
    
}
.profile .user-txt h3{
    font-size: 1rem;
    color: var(--textcol);
}
.profile .user-txt p{
    font-size: .8rem;
}
.profile:hover p{
    color: var(--textcol);
}
.profile .drop-down{
    display: flex;
    align-items: center;
    transition: .1s ease-out;
}

.drop-down i{
    padding-right: 10px;
    font-size: 1.3rem;
    color: gold;
}

/* Layout */
.container-selfmade{
    display: flex;
    /* background-color: var(--primarycol); */
    height: 100%;
}

/* Sidebar */
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: 90px;
    /* background-color: beige; */
    width: 22.5%;
    z-index: 1;
}
.top10{
    height: 500px;
    /* background-color: blue; */
    padding: 10px;
    
}
.top10-content{
    background-color: var(--transcol);
    height: 100%;
    border: var(--border);
    border-radius: 20px;
    padding: 10px 20px;
    backdrop-filter: blur(15px);
    overflow-y: auto;
}
.top10-content::-webkit-scrollbar{
    display: none;
}
.top10-content-text, .watching-content-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--headerfont);
    color: var(--textcol);
    padding: 10px 0 10px 0;
}
.top10-content-text a, .watching-content-text a{
    border: 2px solid var(--textcol);
    padding: 5px 7px 4px 7px;
    border-radius: 10px;
    transition: .2s ease-out;
}
.top10-content-text a:hover, .watching-content-text a:hover{
    background-color: var(--textcol);
    color: var(--primarycol);
}
.top10-card{
    background-color: #F65151;
    margin-top: 10px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden ;
}

.top10-card img{
    position: relative;
    top: -32%;
}
.top10-card-text{
    position: relative;
    top: 70%;
    color: var(--textcol);
    font-family: var(--headerfont);
    backdrop-filter: blur(5px);
    background-color:#808080ab;
    padding: 10px 15px;
    z-index: 3;
    border-radius: 0 0 25px 25px;
    transition: .2s ease-out;
}
.top10-card-text h3{
    margin-bottom: .5rem;
    padding: 0;
}
.top10-card:hover .top10-card-text{
    background-color:#f651516c;
}

.watching{
    height: 330px;
    padding: 10px;
    /* background-color: green; */

}
.watching-content{
    background-color: var(--transcol);
    height: 100%;
    border: var(--border);
    border-radius: 20px;
    padding: 10px 20px;
    backdrop-filter: blur(15px);
    overflow-y: auto;
}
.watching-content::-webkit-scrollbar{
    display: none;
}
.watching-card{
    /* background-color: #F65151; */
    position: relative;
    margin-top: 10px;
    height: 70px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden ;
}
.watching-card h3, .watching-card p{
    width: 80%;
    text-align: left;
    font-family: var(--parafont);
    color: var(--textcol);
    position: absolute;
    top: 35%;
    left: 57%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 5px black;
    z-index: 3;
}
.watching-card p{
    font-size: .8rem;
    top: 65%;
    left: 57.2%;
}
.watching-card i{
    color: var(--textcol);
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: .1s ease-out;
}

.watching-card:hover i{
    font-size: 2.6rem;
    color: var(--accentcol);
}
.watching-card:hover h3{
    color: var(--accentcol);
}
.watching-card img{
    filter: blur(1.5px);
    transition: .1s ease-in-out;
}
.watching-card:hover img{
    filter: blur(0px);
    scale: 1.05;
}

/* Content */
.content{
    /* background-color: var(--bodycol); */
    position: relative;
    top: 0;
    left: 427px;
    height: 100%;
    width: 77.5%;
}

/* Hero section */
.hero{
    /* background-color: yellow; */
    height: 550px;
    padding: 10px;
    /* width: 1473px; */
}
.hero-content{
    background-color: var(--cardcol);
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.carousel-text{
    position: absolute;
    top: 47%;
    left: 4%;
    width: 40%;
    text-shadow: 0px 0px 5px black;
    color: var(--textcol);
    font-family: var(--headerfont);
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: default;
    z-index: 9;
}
.carousel-text h1{
    font-size: 4rem;
}
.carousel-text-links{
    display: flex;
    gap: 20px;
}
.carousel-text-links a{
    font-size: 1.6rem;
    text-shadow: none;
    padding: 9px 12px 6px 12px;
    border-radius: 18px;
    background-color: var(--textcol);
    color: var(--primarycol);
}
.carousel-text-links a:hover{
    background-color: var(--accentcol);
}

/* You Might Like */
.you-might-like, .watchlist, .trending, .browse-by-genre, .new-release{
    /* background-color: red; */
    height: 400px;
    /* width: 1480px; */
    margin-top: 40px;
}
.you-might-like-text, .watchlist-text, .trending-text , .browse-by-genre-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(119, 119, 60); */
    height: 40px;
    padding: 0 25px;
    color: var(--textcol);
    font-family: var(--headerfont)
}

.you-might-like-text a, .watchlist-text a, .trending-text a , .browse-by-genre-text a{
    font-size: 1.2rem;
    border: 2px solid var(--textcol);
    border-radius: 10px;
    padding: 5px 7px 4px 7px;
    transition: .2s ease-out;   
}
.you-might-like-text a:hover, .watchlist-text a:hover, .trending-text a:hover, .browse-by-genre-text a:hover{
    background-color: var(--textcol);
    color: var(--primarycol);
}

/* Master Card / Card */
.master-card{
    display: flex;
    justify-content: space-between;
}
.card{
    background-color: var(--cardcol);
    height: 360px;
    width: 285px;
    border-radius: 20px;
    margin: 10px;
    transition: .2s ease-out;
    cursor: pointer;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card:hover{
    transform: scale(1.02);
    
}

/* Trending */
.trending{
    height: 530px;
}
.master-card-trending{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.card-trending{
    background-color: var(--cardcol);
    height: 450px;
    width: 355px;
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
    transition: .2s ease-out;
    cursor: pointer;
    object-fit: cover;
}
.card-trending img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-trending:hover{
    transform: scale(1.02);
    
}
.card-trending h1{
    text-shadow: 0px 0px 5px black;
}
.card-trending h1::before{
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(5,0,24,1) 5%, rgba(5,0,24,1) 10%, rgba(0,0,0,0.7595413165266106) 20%, rgba(255,255,255,0) 55%);
    z-index: 1;
}
.card-trending h1{
    position: relative;
    color: var(--textcol);
    font-family: var(--headerfont);
    font-size: 10rem;
    top: 310px;
    left: 15px;
    z-index: 3;
}
.card-trending img{
    position: relative;
    top: -160px;
    z-index: 1;
    
}




/* Browse Genre */
.genre-card{
    display: flex;
    flex-wrap:wrap ;
}
.genre-card .card{
    height: 200px;
    width: 345px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
.genre-card .card h1{
    position: absolute;
    font-family: var(--headerfont);
    font-size: 3rem;
    color: var(--textcol);
    z-index: 3;
}
.genre-card .card img{
    filter: blur(5px);
    opacity: 1;
    transition: .2s ease-in-out;
}
.genre-card .card:hover img{
    filter: blur(0px);
    opacity: .5;
}

/* Footer */
footer{
    margin-top: 20px;
    background-color: var(--transcol);
    backdrop-filter: blur(5px);
}
footer h6{
    color: var(--textcol);
    font-family: var(--headerfont);
}
footer p{
    color: var(--textcol);
    font-family: var(--parafont);
}